body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  color: #333;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

select, button {
  margin-bottom: 20px;
  display: block;
}

